### Assignment 6
**Author:** Hala Algrain
**Date:** 3.14.2021

###1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page:
https://www.genealogybranches.com/censuscosts.html

In [1]:
#importing pandas

import pandas as pd

In [2]:
#saving HTML table as a dataframe df_list
#using pandas read_html()

df_list = pd.read_html("https://www.genealogybranches.com/censuscosts.html")

###2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [3]:
#find out how many tables

len(df_list)

2

In [4]:
#explore first table found

df1 = df_list[0]
df1.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [5]:
#explore second table

df2 = df_list[1]
df2.head()

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

###3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [6]:
df1

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

###4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.

### Data Quality Issues:
* row 0 contains column names while the actual column names are generic 0,1,2,3
* column 0, row 23 has an added asterisk added to the year 2010
* column 2 'Census Cost' has characters: dollar signs, commas, and "billion"
* column 3 'Average Cost per Person' similarly has characters in a numeric field: $, "cents", and periods

In [7]:
#exploring first data quality issue
#column names

df1.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [8]:
#addressing first data quality issue
#iloc extracts the row based on its index

first_row = df1.iloc[0]   

#confirm
first_row

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [9]:
#changing column names

df1.columns = first_row

#confirm
df1.head()

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [10]:
#removing the first row

df1.drop([0], inplace=True)   #inplace=False retains a copy

#confirm
df1.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

###5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [11]:
#creating a function cleanse_year()

def cleanse_year(year):
  cln_year= year.replace("*","")
  return cln_year

In [12]:
# test 1 cleanse_year() function

cleanse_year("1989*")

'1989'

In [13]:
# test 2 cleanse_year() function

test= "*20*10*"
cleanse_year(test)

'2010'

###6.Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [14]:
# "Census Year" before cleansing
df1["Census Year"]

1      1790
2      1800
3      1810
4      1820
5      1830
6      1840
7      1850
8      1860
9      1870
10     1880
11     1890
12     1900
13     1910
14     1920
15     1930
16     1940
17     1950
18     1960
19     1970
20     1980
21     1990
22     2000
23    2010*
Name: Census Year, dtype: object

In [15]:
#cleansing "Census Year" column using function and apply()

df1["Census Year"]=df1["Census Year"].apply(cleanse_year)

In [16]:
## "Census Year" after cleansing

df1["Census Year"]

1     1790
2     1800
3     1810
4     1820
5     1830
6     1840
7     1850
8     1860
9     1870
10    1880
11    1890
12    1900
13    1910
14    1920
15    1930
16    1940
17    1950
18    1960
19    1970
20    1980
21    1990
22    2000
23    2010
Name: Census Year, dtype: object

###7. Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

#### No data quality issues for "Total Population"

####Define, test, and apply the function for "Census Cost"

In [17]:
#define function for cleanse_cost

def cleanse_cost(cost):
  cln_cost = cost.lstrip("$").replace(",","")
  if cost.find("4.5") !=-1:
    cln_cost="45" + "0" * 8
  elif cost.find( "Billion") != -1:
    cln_cost="13" + "0" * 9
  return cln_cost

In [18]:
# test 1 for cleanse_cost

cleanse_cost("$178,445")

'178445'

In [19]:
# test 2 for cleanse_cost

cleanse_cost("$4.5 Billion")

'4500000000'

In [20]:
# apply() cleanse_cost()

df1["Census Cost"]=df1["Census Cost"].apply(cleanse_cost)

df1["Census Cost"]

1           44377
2           66109
3          178445
4          208526
5          378545
6          833371
7         1423351
8         1969377
9         3421198
10        5790678
11       11547127
12       11854000
13       15968000
14       25117000
15       40156000
16       67527000
17       91462000
18      127934000
19      247653000
20     1078488000
21     2492830000
22     4500000000
23    13000000000
Name: Census Cost, dtype: object

####Define, test, and apply the function for "Average Cost Per Person"

In [21]:
#define function for cleanse_avgcost

def cleanse_avgcost(avgcost):
  if avgcost.find("$") !=-1:
    cln_avgcost = avgcost.replace("$","")
    cln_avgcost2 = int(cln_avgcost)
  
  elif avgcost.find(" cents") !=-1:
    cln_avgcost = avgcost.replace(" cents","")
    cln_avgcost2 = int(cln_avgcost)/100

  return cln_avgcost2

In [22]:
#define function for cleanse_avgcost

def cleanse_avgcost(avgcost):
  if avgcost.find("$") !=-1:
    cln_avgcost = avgcost.lstrip("$").replace(".","")
    cln_avgcost2 = int(cln_avgcost)/100

  elif avgcost.find(" cents") !=-1:
    cln_avgcost = avgcost.rstrip(" cents").replace(".","")
    cln_avgcost2 = int(cln_avgcost) /10000
  
  return cln_avgcost2

In [23]:
# test 1 for cleanse_avgcost

cleanse_avgcost("$10.02")

10.02

In [24]:
# test 2 for cleanse_avgcost

cleanse_avgcost("4.88 cents")

0.0488

In [25]:
# apply() cleanse_avgcost

df1["Average Cost Per Person"]=df1["Average Cost Per Person"].apply(cleanse_avgcost)

In [26]:
## "Average Cost Per Personr" after cleansing

df1["Average Cost Per Person"]

1      0.0113
2      0.0124
3      0.0246
4      0.0216
5      0.0294
6      0.0488
7      0.0614
8      0.0626
9      0.0887
10     0.1154
11     0.1833
12     0.1554
13     0.1707
14     0.2376
15     0.3271
16     0.5129
17     0.6044
18     0.7134
19     1.2200
20     4.7600
21    10.0200
22    15.9900
23    42.1100
Name: Average Cost Per Person, dtype: float64

###8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [29]:
df1.to_csv("census_cost_cleansed.csv", index= False)

###9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [30]:
pd.read_csv("/content/census_cost_cleansed.csv")

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100